{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="col-md-6">
		{# {{ readmeContent|markdown_to_html }} #}
{#  Mets les boutons pour selectionner les actions sous forme de tableau? btn à gauche et explication fxnnalité à a droite 


		<a class="nav-link" href="{{ path('app_Clocking_list') }}">Pointages</a>


		<a class="nav-link" href="{{ path('app_Project_list') }}">Chantiers</a>

		<a class="nav-link" href="{{ path('app_User_list') }}">Collaborateurs</div> #}
	{% endblock %}
